
@page "/"


@inherits ProjectBase

@code {
    String NewProjectName { get; set; }
    String NewProjectDescription { get; set; }



    public async Task NewProjectPressed()
    {
        if(NewProjectName == null || NewProjectName == "")
        {
            return;
        }
        await BrainStormerService.CreateProject(new ProjectModel { Name = NewProjectName, ProjectDescription = NewProjectDescription });
        await this.OnInitializedAsync();
        NewProjectName = "";
        NewProjectDescription = "";
    }


}


<h2>Projects</h2>
@if(Projects == null)
{
    <h3>Loading...</h3>
}
else
{

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create New Project</h5>
            <p class="card-text">Create a new project to organize your problems.</p>
            <input type="text" class="form-control" placeholder="Project Name" @bind="NewProjectName" />
            <br />
            <textarea class="form-control" placeholder="Project Description" @bind="NewProjectDescription"></textarea>
            <br />
            <input type="button" class="btn btn-primary" value="Create" @onclick="async () => await NewProjectPressed()" />
        </div>
    </div>

    var projects = Projects;
    @if (projects.Count() > 0)
    {
        @foreach(ProjectModel project in projects)
        {
            <div class="card">
                <div class="card-header">
                    @project.Name
                </div>
                <div class="card-body">
                    <h5 class="card-title">@project.ProjectDescription</h5>
                    <a href="/Projects/@project.Id" class="btn btn-primary">Go</a>
                </div>
            </div>
            <br />
        }
    }
}


