
@page "/"


@inherits ProjectBase
<h2>Projects</h2>
@if(Projects == null)
{
    <h3>Loading...</h3>
}
else
{
    var projects = Projects;
    @if (projects.Count() > 0)
    {
        @foreach(ProjectModel project in projects)
        {
            <div class="card">
                <div class="card-header">
                    @project.Name
                </div>
                <div class="card-body">
                    <h5 class="card-title">@project.ProjectDescription</h5>
                    <a href="/Projects/@project.Id" class="btn btn-primary">Go</a>
                </div>
            </div>
            <br />
        }
    }
}


@code {

}
